// | -------------------------------------------------------------
// | Utopia Type Scale
// | -------------------------------------------------------------

@use 'utopia-core-scss/src/utopia' as utopia;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,2560,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    @include utopia.generateTypeScale(("minWidth": 320,
            "maxWidth": 2560,
            "minFontSize": 18,
            "maxFontSize": 24,
            "minTypeScale": 1.2,
            "maxTypeScale": 1.333,
            "positiveSteps": 8,
            "negativeSteps": 3,
            "prefix": "fs-",
            "relativeTo": "viewport-width"
        ));
}
