---

---

<script>
  import { cookieConsentConfig } from "../lib/CookieConsentConfig";
  import { iframeManagerConfig } from "../lib/IframeManagerConfig";

  declare global {
    interface Window {
      CookieConsent: any;
      iframemanager: any;
    }
  }

  window.addEventListener("load", () => {
    try {
      if (!(window as any).__ifmInit) {
        const im = window.iframemanager();
        im.run(iframeManagerConfig);
        (window as any).__ifmInit = true;
      }
    } catch (e) {}

    try {
      if (!(window as any).__ccInit) {
        window.CookieConsent.run(cookieConsentConfig);
        (window as any).__ccInit = true;
      }
    } catch (e) {}
  });
</script>

<!-- <button data-cc="show-preferencesModal" type="button">
  Cookie voorkeuren
</button> -->
