---
const MIN_DISPLAY_MS = 500;
const TRANSITION_DELAY_MS = 220;
const TRANSITION_MAX_MS = 2000;
---

<div
  id="preloader"
  class="preloader is-hidden is-bar-only"
  data-min-display={MIN_DISPLAY_MS}
  data-transition-delay={TRANSITION_DELAY_MS}
  data-transition-max={TRANSITION_MAX_MS}
  aria-hidden="true"
  transition:name="preloader"
  transition:persist
>
  <div 
    class="preloader__bar" 
    aria-hidden="true"
  ></div>
  <div class="preloader__percent" aria-hidden="true">0%</div>
</div>

<script src="/js/preloader.js" is:inline></script>
